<footer class="mt-5">
    <div class="footer">
        <div class="container">
            <div class="section-info-contact">

                <div class="row">
                    <div class="col-16 col-sm-16 col-md-16 col-lg-3">
                        <h3 class="text-dark">CONTACTO</h3>
                        <ul class="list-unstyled links email">
                            <li>
                                <i class="fa fa-whatsapp"> 3155968793</i>
                            </li>
                            <li>
                                <a target="_blank"> <span class="fw-bold">PBX: </span>01 0000 00 55 89</a>
                            </li>
                            <li>
                                <a target="_blank">Escribenos</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-16 col-sm-16 col-md-8 col-lg-3">
                        <h3 class="text-dark">QUIENES SOMOS</h3>
                        <ul class="list-unstyled links">
                            <li>
                                <p>ccultura</p>
                            </li>
                            <li>
                                <p>Trabaja aquí</p>
                            </li>
                            <li>
                                <p>La vida en blackWhite</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-16 col-sm-16 col-md-16 col-lg-3">
                        <h3 class="text-dark">AYUDA</h3>
                        <ul class="list-unstyled links">
                            <li>
                                <p href="#">Envíos</p>
                            </li>
                            <li>
                                <p href="#">Cambios y garantias</p>

                            </li>
                            <li>
                                <p href="#" target="_blank">Preguntas frecuentes</p>
                            </li>
                        </ul>
                    </div>

                    <div class="col-16 col-sm-16 col-md-8 col-lg-3">
                        <h3 class="text-dark">REDES SOCIALES</h3>
                        <ul class="list-unstyled social">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"
                                        title="Facebook"></i>
                                </a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"
                                        title="Twitter"></i>
                                </a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"
                                        title="Instragram"></i>
                                </a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-youtube" aria-hidden="true"
                                        title="Youtube"></i>
                                </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <small>Desarrollado por <a href="#" target="_blank">MPS.</a> &copy;
                {{year}} Todos los derechos reservados.</small>
        </div>
    </div>
</footer>