.content{
    border: 1px solid black;
    width: 90%;
}

.card {
    width: 90%;
    margin: 0 auto;    
} 

.size{
    border: 1px solid black;
    width: 40px;
    padding: 5px;
    text-align: center;
}
