<app-header></app-header>

<div class="d-flex">
  <div>
    <app-menu></app-menu>
  </div>

  <div class="main">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <img class="card-img-top" src="../../../assets/img/img4.jpg" alt="Card image cap">
        </div>
      </div>

      <div class="col-md-6">
        <div class="content">
          <div>
            <h6>
              Blazer Mujer Negro
            </h6>
            <div class="d-flex">
              <div>
                <i class="fa fa-star"></i>
              </div>
              <div>
                <i class="fa fa-star"></i>
              </div>
              <div>
                <i class="fa fa-star"></i>
              </div>
              <div>
                <i class="fa fa-star-o"></i>
              </div>
              <div>
                <i class="fa fa-star-o"></i>
              </div>
            </div>

            <div>
              <h5> $ 79.000</h5>
            </div>

            <div>
              <img src="../../../assets/img/pago.png" width="250" alt="">
            </div>

            <div>
              Talla
              <div class="d-flex">

                <div class="size">
                  L
                </div>
                <div class="size">
                  S
                </div>
                <div class="size">
                  M
                </div>
                <div class="size">
                  XL
                </div>
              </div>
            </div>

            <div>
              <p>
                <span class="fw-bold">Descripción: </span><br>
                <span>Burda poliéster 77% -23% algodón. <br> peso 175 gr.</span>
              </p>
            </div>

            <div class="button-add">
              <button class="btn btn-outline-dark p-3">
                Añadir al carrito
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<app-footer style="margin-top: auto;"></app-footer>