<app-header></app-header>

<div class="d-flex">
  <div>
    <app-menu></app-menu>
  </div>
  <div class="container mb-5 d-flex m-5">
    <div class="row">
      <div class="subcontainer">



      <!---  <div class="card">
          
        </div>
      
      -->

      <div class="card-text2">
        <img class="img1-carro" src="../../../assets/img/img4.jpg">
        
            <div class="fw-bold">Vestido
              <br>
            $80.000
          <br>
        </div>
            <span class="text-sub">
               " Solo queda(n) 2 en stock. " 
            </span>
      
        <div class="cant-buybox">
            <span class="label-cant-buybox">
                <label class="text-buybox1" >
                    <span class="offscreen-label" aria-isabel="Cant."></span>
                </label>
                <select name="quantity" autocomplete="off" tabindex="0" class="quanty-select">
                        <option  value="0" class="quantity-option" data-a-htmlcontent="0 (Eliminar)"> Cant.: 1 </option>

                        <option  value="1" class="quantity-option" data-a-htmlcontent="1"> 1 </option>

                        <option  value="2" class="quantity-option" data-a-htmlcontent="2"> 2 </option>

                        <option  value="3" class="quantity-option" data-a-htmlcontent="3"> 3 </option>

                        <option  value="4" class="quantity-option-4" data-a-htmlcontent="4+"> 4+ </option>
                </select>
            </span> 
            <span data-action="delete" class="action-delete">
                <!-- eliminar seleccion -->
                <input name="submit-delete" value="Eliminar" type="submit" class="a-color-link">

            </span>

        </div>
      </div>
        
      </div>
      <div class="col-md-4">
        <div class="card">
          
          <div class="card-body">
            <div class="card-text">
              <div class="fw-bold" name="subtotals">
                <span id="subtotal-label" class="subtotal-label-buybox"> subtotal (1 producto): </span>
                <span id="subtotal-amount-buybox" > $80.000 </span>
                <br>
                <input name="proceedCheckout" class="a-button-input" type="submit" value="Proceed to checkout">

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<app-footer style="margin-top: auto;"></app-footer>